.card {
  position: relative;
  width: 100%;
  margin: 4px 0;
  border-radius: 3px;
  background-color: #fff;
  line-height: 20px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
}

.card:hover {
  background-color: #f4f5f7;
}

.card:hover .cardRemoveButton {
  visibility: visible;
}

.cardIsDragging {
  cursor: grabbing;
  box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
  transform: rotate(4deg);
}

.cardIsPlaceholder {
  background-color: #091e420a;
  font-size: 0;
  height: 32px;
  box-shadow: none;
}

.cardBody {
  padding: 6px 8px;
}

.cardRemoveButton {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  padding: 4px;
  width: 24px;
  height: 24px;
  background-color: #f4f5f7;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  visibility: hidden;
}

.cardRemoveButton:hover {
  background-color: #f4f5f7;
  opacity: 1;
}

.cardRemoveButton:active {
  background-color: #dfe1e6;
  opacity: 1;
}

.cardRemoveIcon {
  color: #42526e;
}